.main-page {
  display: flex;
  align-items: flex-start;
}
.menu-container {
  z-index: 1000;
  height: 100vh;
}
.menu-icon {
  position: absolute;
  background-color: #257dc9;
  color: white;
  padding: 0.5rem;
  border-radius: 100%;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.493);
  margin: 0.3rem;
}
.menu-box {
  position: absolute;
  overflow: scroll;
  width: 280px;
  height: 100vh;
  background-color: white;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.493);
}
.menu {
  position: absolute;
  overflow: scroll;
  width: 280px;
  height: 100vh;
  background-color: white;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.493);
}
.search-container {
  display: flex;
  box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.493);
  width: 280px;
  height: 3rem;
  position: fixed;
  background-color: #257dc9;
  align-items: center;
}
.search-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 1rem;
  color: white;
}
.search-container form > input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  width: 100%;
  color: white;
  border-radius: 0%;
}
input:focus{
  outline: none;
}
::placeholder {
  color: rgba(255, 255, 255, 0.61);
}
.list-container {
  max-height: 100vh;
  margin-top: 4rem;
}

.leaflet-container {
  height: 100vh;
  width: 100vw;
}

/*  list */
ul {
  padding: 0;
  height: 90vh;
}
li {
  list-style-type: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.356);
  margin: 0.6rem;
}
li h5 {
  cursor: pointer;
  text-transform: capitalize;
}
li h5:hover{
  text-decoration: underline;
  color: #257dc9;
}


footer{
  background-color: #257dc9;
  height: 10vh;
  color: white;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
footer > p {
  font-size: 0.7rem;
}

#root, .main-page, .menu-box, .map-container, .map-container > div{
  max-height: 90vh;
}

@media only screen and (max-width: 600px) {
  .menu-icon {
    box-shadow: none;
  }
  .search-container{
    z-index: 100000;
  }
}
